{% extends 'EiflAdminBundle::layout.html.twig' %}

{% block title 'EIFL Admin Program' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/eifladmin/css/administration.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('components/jquery-ui/themes/base/jquery.ui.tabs.css') }}">
{% endblock %}

{% block newscripts %}
	<script src="{{ asset('bundles/eifladmin/js/levelcollection.js') }}"></script>
{% endblock %}

{% block javascripts %}
	$(function() {
		$('#tabs').tabs();
	});
	$(document).ready(function() {
		{% if add_S is defined or view_detail is defined %}
			{% if add_S is defined %}
				$('#add_student_form').show();
			{% elseif view_detail is defined %}
				$('#view_detail_form').show();
			{% endif %}
			$(".popup_window").show("fade");
		{% endif %}
		$("#close_button").click(function() {
			$(".popup_window").hide("fade");
			$(".form_admin").hide();
		});
		$('.form_select_level').change(function() {
			$('.new_level_data').remove();
			var id_level = $(this).val();
			$.ajax({
				url: "{{ path('eifl_admin_post_level') }}",
				data: "id_level="+id_level,
				type: "POST",
				dataType:'json',
				success: function(data) {
					var i = 0;
					while(data){
						var id = data[i]['id'];
						var classlevel = data[i]['class'];
						var students = data[i]['students'];
						$('#class_table').append("<tr class='new_level_data' id='new_class_data_"+i+"'></tr>");
						$("#new_class_data_"+i).html("<td>"+classlevel+"</td><td>"+students+"</td><td><a href='{{ path('eifl_admin_class_adm') }}?id_class="+id+"&func=add_student'>Add Student</a> / <a href='{{ path('eifl_admin_class_adm') }}?id_class="+id+"&func=class_detail'>View</a></td>");
						i++;
					}
				}
			});
		});
	});
{% endblock %}

{% block admin_content %}
	<center>
		<div>
			<h3>Class</h3>
			<div class="administration_form">
				<form class="admin_form">
					<p style="height:25px;margin-bottom:5px;text-align:left;width:600px;">
						<label>Program Level :</label>
						{{ form_widget(levelform.program) }}
					</p>
					
					<div>
						<table class="administration_table" id="class_table" border="0" cellpadding="0" cellspacing="1" width="600">
							<tr>
								<th width="25%">Class Name</th>
								<th width="20%">Students</th>
								<th width="55%">Action</th>
							</tr>
						</table>
					</div>
				</form>
			</div>
		</div>
	</center>
{% endblock %}
{% block popup %}
	<div id="close_button"></div>
	{% if add_student_form is defined %}	
		<div id="add_student_form" class="new_form form_admin">
			<center>
				<h3>Add Students</h3>

				{{ form_start(add_student_form) }}
				    {{ form_errors(add_student_form) }}

				    <div>
				    	{{ form_label(add_student_form.member) }}
				        {{ form_errors(add_student_form.member) }}
				        {{ form_widget(add_student_form.member) }}
				    </div>
				    
				    <div>
				        {{ form_widget(add_student_form.save) }}
				    </div>
				{{ form_widget(add_student_form._token) }}
				</form>
			</center>
		</div>
	{% endif %}
	{% if detail_c is defined %}
		<div id="view_detail_form" class="edit_form form_admin">
			<center>
				<h3>Detail Class {% if detail_c.0 is defined %}{{ detail_c.0.class.class }}{% endif %}</h3>

				<table class="administration_table" id="teacher_table" border="0" cellpadding="0" cellspacing="1" width="600" style="background:darkblue;">
					<tr>
						<th width="60%">Member Name</th>
						<th width="40%">Action</th>
					</tr>
					{% for detail in detail_c %}
						<tr>
							<td>{{ detail.member.firstname }} {{ detail.member.lastname }}</td>
							<td><a href="{{ path('eifl_admin_class_adm') }}?id_student={{ detail.member.id }}&id_class={{ detail.class.id }}&func=remove_student">Remove Student</a></td>
						</tr>
					{% endfor %}
				</table>
			</center>
		</div>
	{% endif %}
{% endblock %}