{% extends 'EiflAdminBundle::layout.html.twig' %}

{% block title 'EIFL Admin User Member' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/eifladmin/css/administration.css') }}">
{% endblock %}
{% block javascripts %}
	$(document).ready(function() {
        {% if edit is defined %}
            $(".edit_form").show();
            $(".popup_window").show("fade");
        {% endif %}
		$("#new_member").click(function() {
			$(".new_form").show();
            $(".popup_window").show("fade");
		});
        $('#new_pass').click(function() {
            if($(this).prop('checked')){
                $('#pass_edit').show();
            }
            else{
                $('#form_password_first').val("");
                $('#form_password_second').val("");
                $('#pass_edit').hide();
            }
        });
        $('#search_button').click(function() {
            var search = $('#search_box').val();
            var url = "{{ path('eifl_admin_usermember') }}?member="+search;

            window.location=url;
        });
        $(".delete").click(function() {
            if(!confirm("Are you sure to delete this member?")){
                return false;
            }
        });
		$("#close_button").click(function() {
            $(".popup_window").hide("fade");
            $(".form_admin").hide();
		});
	});
{% endblock %}

{% block admin_content %}
	<center>
		<h3>User Member</h3>
		<div class="administration_form">
			<form class="admin_form">
				<p style="height:25px;margin-bottom:5px;">
					<input type="button" name="new_member" id="new_member" value="Create New Member" style="float:left;" />
					<input type="button" name="search_button" id="search_button" value="Search" style="float:right;"/>
					<input type="text" name="member" id="search_box" placeholder="Search User Member" style="float:right;margin:2px;height:20px;"/>
				</p>
				<div>
					<table class="administration_table" border="0" cellpadding="0" cellspacing="1" width="600">
						<tr>
							<th>User Member Name</th>
							<th>Email</th>
							<th>Address</th>
							<th>Phone</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
                        {% if member_list is defined %}
                            {% for member in member_list %}
                                {% if member != null %}
                                    <tr>
                                        <td>{{ member.userMemberType.firstname }} {{ member.userMemberType.lastname }}</td>
                                        <td>{{ member.email }}</td>
                                        <td>{{ member.userMemberType.address }}</td>
                                        <td>{{ member.userMemberType.phone }}</td>
                                        {% if member.enabled==1 %}
                                            <td>Active</td>
                                        {% else %}
                                            <td>Inactive</td>
                                        {% endif %}
                                        <td><a href="{{ path('eifl_admin_usermember',{'id_user': member.id, 'func': 'edit' }) }}" class="edit">Edit</a> / <a href="{{ path('eifl_admin_usermember',{'id_user': member.id, 'func': 'delete' }) }}" class="delete">Delete</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
					</table>
				</div>
			</form>
		</div>
	</center>
{% endblock %}
{% block popup %}
<div id="close_button"></div>
    {% if newform is defined %}
	<div class="new_form form_admin">
    	<center>
    		<h3>Create New Member</h3>

            {{ form_start(newform) }}
                {{ form_errors(newform) }}

                <div>
                    {{ form_label(newform.username) }}
                    {{ form_errors(newform.username) }}
                    {{ form_widget(newform.username) }}
                </div>

                <div>
                    {{ form_label(newform.password) }}
                    {{ form_errors(newform.password) }}
                    {{ form_widget(newform.password) }}
                </div>

                <div>
                    {{ form_label(newform.firstname) }}
                    {{ form_errors(newform.firstname) }}
                    {{ form_widget(newform.firstname) }}
                </div>

                <div>
                    {{ form_label(newform.lastname) }}
                    {{ form_errors(newform.lastname) }}
                    {{ form_widget(newform.lastname) }}
                </div>

                <div>
                    {{ form_label(newform.address) }}
                    {{ form_errors(newform.address) }}
                    {{ form_widget(newform.address) }}
                </div>

                <div>
                    {{ form_label(newform.phone) }}
                    {{ form_errors(newform.phone) }}
                    {{ form_widget(newform.phone) }}
                </div>

                <div>
                    {{ form_widget(newform.save) }}
                </div>
                {{ form_widget(newform._token) }}
            {{ form_end(newform) }}
    	</center>
    </div>
    {% endif %}
	{% if editform is defined %}
    <div class="edit_form form_admin">
        <center>
            <h3>Edit Member</h3>

            {{ form_start(editform) }}
                {{ form_errors(editform) }}

                <div>
                    {{ form_label(editform.username) }}
                    {{ form_errors(editform.username) }}
                    {{ form_widget(editform.username) }}
                </div>
                
                <div id='pass_edit'>
                    {{ form_errors(editform.password) }}
                    {{ form_widget(editform.password) }}
                </div>

                <div><input type="checkbox" id="new_pass"> Change Password</div>
                
                <div>
                    {{ form_label(editform.firstname) }}
                    {{ form_errors(editform.firstname) }}
                    {{ form_widget(editform.firstname) }}
                </div>

                <div>
                    {{ form_label(editform.lastname) }}
                    {{ form_errors(editform.lastname) }}
                    {{ form_widget(editform.lastname) }}
                </div>

                <div>
                    {{ form_label(editform.address) }}
                    {{ form_errors(editform.address) }}
                    {{ form_widget(editform.address) }}
                </div> 

                <div>
                    {{ form_label(editform.phone) }}
                    {{ form_errors(editform.phone) }}
                    {{ form_widget(editform.phone) }}
                </div>  

                <div>
                    {{ form_label(editform.enabled) }}
                    {{ form_errors(editform.enabled) }}
                    {{ form_widget(editform.enabled) }}
                </div>  
                
                <div>
                    {{ form_widget(editform.save) }}
                </div>
            {{ form_widget(editform._token) }}
            {{ form_end(editform) }}
        </center>
    </div>
    {% endif %}
{% endblock %}